/* Main stylesheet */

:root {
    /* Colours */
    --blue: rgba(30, 143, 255, 0.904);
    --text: rgb(36, 35, 35);
}


body {
    /* background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, rgba(4, 189, 228, 1) 0%, rgba(2, 83, 185, 1) 100.2%); */
    background-color: rgba(236, 236, 236, 0.856);
    color: var(--text);
    height: 100vh;
}

div#main {
    width: 80%;
    margin: 0 auto;
}

div#nav {
    min-height: 50px;
}

div#content {
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

div#content h1 {
    text-align: center;
}

div#content #task-items {
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
}

div#content #task-items .task-item .task-title label {
    width: 80%;
    display: inline-block;
}

div#content #task-items .task-item span {
    width: 10%;
    display: inline-block;
    text-align: center;
}

div#content #task-items .task-details {
    display: none;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.done {
    color: green;
}

.delete {
    color: red;
}

.linethruogh {
    text-decoration: line-through;
}