{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do | {{ title }}</title>

    <link rel="stylesheet" href="{% static 'base/css/main.css' %}">

    <script src="{% static 'base/js/jquery-3.6.0.min.js' %}"></script>
</head>

<body>
    <div id="main">
        <div id="nav"></div>
        <div id="content">
            <h1>To Do</h1>
            <p>Manage your tasks</p>
            <div id="task-items">
                {% for task in tasks %}
                <div class="task-item" id="{{ task.id }}" data-id="{{ task.id }}">
                    <div class="task-title">
                        <span class="done" onclick="markDone('{{ task.id }}')">&#x2714;</span><label 
                        onclick="showDetails('{{ task.id }}')" class="{% if task.status == 'done' %} linethruogh {% endif %}">
                        {{ task.title|title }}</label><span class="delete" onclick="markCancel('{{ task.id }}')">&#x2717;</span>
                    </div>
                    <div class="task-details">
                        <b>Title: </b>{{ task.title|title }} <br>
                        <b>Status: </b>{{ task.get_status_display }} <br>
                        <b>Description: </b>{{ task.description|default:"N/A" }} </br>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

<script src="{% static 'base/js/main.js' %}"></script>

</html>